<%= simple_form_for @event do |f| %>
  <div class="container event_form" style="margin-bottom: 100px;">
    <%= f.input :end_date, as: :hidden, input_html: { value: @date } %>
    <%= f.input :name %>
    <%= f.input :category, :collection => ["Work", "Social", "Reminder", "Workout"]%>


    <div class="form-input-times" style="display: flex; justify-content: space-around; text-align: center">
      <% if @date == "" || @date.nil? %>

        <div class="d-flex flex-row justify-content-between align-items-center">
          <%= f.input :start_date, default: {day: @date}, order: [:day, :month, :year] %>
        </div>
      <% end %>
    </div>


    <div class="form-input-times" style="display: flex; justify-content: space-around; margin-top: 8px; text-align: center">
      <%= f.input :start_time %>
      <%= f.input :end_time %>
    </div>

    <%= f.input :previous_location %>
    <%= f.input :event_location %>

    <div style="display: flex; justify-content: center; text-align: center">
      <%= f.input :travel_type, :collection => ["Car", "Pedestrian"] %>
      <%= f.input :time_difference, as: :hidden, input_html: { id: "time_difference", hidden: true } %>
    </div>

    <div style="display: flex; justify-content: space-around; margin-top: 12px;">
      <button style="margin-right: 16px; background-color: #AFE7AE; border: none; border-radius: 14px; height: 42px; width: 150px; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); color: white; text-shadow: 1px 1px rgba(0, 0, 0, 0.2);" type="button" id="cal_time ">Calculate time</button>
      <p style="z-index: 5; right: -25px; top: -27px; padding: 8px; border: 1px solid #ced4da; border-radius: 2px; width: 150px; text-align: center; " id="time_difference_display">Time</p>
    </div>

    <div style="margin-top: 3%">
      <%= f.input :description, class: "mt-1" %>
    </div>
  </div>

  <div class="footer">
    <%= link_to "Back", daily_path(params[:start_date]), class:"btn back_button", style:"text-align: center;"%>
    <%= f.button :submit, class:"btn new_event_button" %>
  </div>
<% end %>
