<%= simple_form_for @event do |f| %>
  <div class="container event_form" style="margin-bottom: 100px;">
    <%= f.input :end_date, as: :hidden, input_html: { value: @date } %>
    <%= f.input :name %>
    <%= f.input :category, :collection => ["Work", "Social", "Reminder", "Birthday", "Workout"]%>

    <% if @date == "" || @date.nil? %>
    <label for="" style= "display: flex; justify-content: center; text-align: center">Start Date</label>
    <% end %>
    <div class="form-input-times" style="display: flex; justify-content: space-around; text-align: center">
      <% if @date == "" || @date.nil? %>

        <div class="d-flex flex-row justify-content-between align-items-center">
          <select id="event_start_date_3i" name="event[start_date(3i)]" class="form-control mx-1 date optional" style="width: 50px">
            <option value="1" selected="selected">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
            <option value="17">17</option>
            <option value="18">18</option>
            <option value="19">19</option>
            <option value="20">20</option>
            <option value="21">21</option>
            <option value="22">22</option>
            <option value="23">23</option>
            <option value="24">24</option>
            <option value="25">25</option>
            <option value="26">26</option>
            <option value="27">27</option>
            <option value="28">28</option>
            <option value="29">29</option>
            <option value="30">30</option>
            <option value="31">31</option>
          </select>
          <select id="event_start_date_2i" name="event[start_date(2i)]" class="form-control mx-1 date optional" style="width: 150px">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9" selected="selected">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <select id="event_start_date_1i" name="event[start_date(1i)]" class="form-control mx-1 date optional" style="width: 85px">
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020" selected="selected">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
            <option value="2023">2023</option>
            <option value="2024">2024</option>
            <option value="2025">2025</option>
          </select>
        </div>
      <% end %>
    </div>


    <div class="form-input-times" style="display: flex; justify-content: space-around; margin-top: 8px; text-align: center">
      <%= f.input :start_time %>
      <%= f.input :end_time %>
    </div>

    <%= f.input :previous_location %>
    <%= f.input :event_location %>

    <div style="display: flex; justify-content: center; text-align: center">
      <%= f.input :travel_type, :collection => ["Car", "Pedestrian"] %>
      <%= f.input :time_difference, as: :hidden, input_html: { id: "time_difference", hidden: true } %>
    </div>

    <div style="display: flex; justify-content: space-around; margin-top: 12px;">
      <button style="margin-right: 16px; background-color: #AFE7AE; border: none; border-radius: 14px; height: 42px; width: 150px; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);" type="button" id="cal_time">Calculate time</button>
      <p style="z-index: 5; right: -25px; top: -27px; padding: 8px; border: 1px solid #ced4da; border-radius: 2px; width: 150px; text-align: center; " id="time_difference_display">Time</p>
    </div>

    <div style="margin-top: 3%">
      <%= f.input :description, class: "mt-1" %>
    </div>
  </div>

  <div class="footer">
    <%= link_to "Back", daily_path(params[:start_date]), class:"btn btn-danger back_button", style:"text-align: center;"%>
    <%= f.button :submit, class:"btn new_event_button" %>
  </div>
<% end %>
