<div class="header">
  <% if @day == Date.today %>
    <h1>TODAY</h1>
  <% else %>
    <h1>DAILY VIEW</h1>
  <% end %>

  <div class="drop-down">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      View Calendar
    </button>
    <div class="dropdown-menu dropdown-menu-right" style="width: " aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href=<%= monthly_path %>>Monthly</a>
      <a class="dropdown-item" href=<%= weekly_path %>>Weekly</a>
    </div>
  </div>
</div>

<div id="daily-card" style="margin-bottom: 44px;">
  <%= calendar number_of_days: 1 do |date| %>
    <div class="times">
      <% array = ["00:00", "01:00", "02:00", "03:00", "04:00", "05:00", "06:00", "07:00", "08:00", "09:00", "10:00", "11:00", "12:00", "13:00", "14:00", "15:00", "16:00", "17:00", "18:00", "19:00", "20:00", "21:00", "22:00", "23:00", "24:00"] %>
      <div class="times-display">
        <% array.each do |time| %>
          <p class="time"><%= time %></p>
          <% if time != "24:00" %>
            <% 5.times do %>
              <div class="line"></div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="events-container">
        <% @events.each do |event| %>
          <% time_event = ((event.end_time - event.start_time) / 60) / 60 %>
          <% beginning_of_day_difference = ((event.start_time - event.start_time.beginning_of_day) / 60) / 60 %>
          <% time_travel = (event.time_difference / (1000 * 60 * 60)) %>
          <% time_travel_percentage = (time_travel / 24) * 100 %>
          <% minus_travel = event.time_difference %>
          
          <%= link_to event_path(event) do %>
            <div class="travel_time <%= event.travel_time_class %>" style="height: <%= time_travel_percentage %>%; top: <%= ((beginning_of_day_difference / 24) * 100) - time_travel_percentage %>%; width: 200px;">
              <% unless time_travel_percentage < 0.6 %>
                <p style="color: white;"><i class="far fa-clock"></i> <%= (time_travel * 60).round %> Minutes Travel Time</p>
              <% end %>
            </div>
          
            <div class="event <%= event.event_time_class %> %" style="overflow: hidden; padding: 8px; height: <%= ((time_event / 24) * 100) %>%; top: <%= ((beginning_of_day_difference / 24) * 100) %>%;">
              <% unless ((time_event / 24) * 100) < 0.7 %>
                <h4 style="color: white;"> <i class="far fa-calendar"></i> <%= event.name %> </h4>
              <% end %>
              <% unless ((time_event / 24) * 100) < 2 %>
                <p style="color: white;"> <i class="fas fa-location-arrow"></i> <%= event.event_location %></p>
              <% end %>
              <% unless ((time_event / 24) * 100) < 5 %>
                <p style="color: white;"> <i class="fas fa-align-justify"></i> <%= event.description %></p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
  
  <i class="next_button fas fa-arrow-circle-right"></i>
  <i class="previous_button fas fa-arrow-circle-right"></i>

</div>

<div class="footer">
  <%= link_to "Back", monthly_path, class:"btn btn-danger back_button", style:"text-align: center;"%>
  <%= link_to "Add an Event", new_event_path(date: @day), class:"btn create_event_button"%>
</div>
