<%= month_calendar do |date| %>
  <%= link_to daily_path(start_date: date) do %>
    <p style="color: black;"><%= date.day %></p>
    <%# <% Event.where(user_id: current_user.id, end_date: date).each do |event| %>
      <%# <%= event.name %>
    <%# <% end %>
  <% end %>
<% end %>

<i class="next_button fas fa-arrow-circle-right"></i>
<i class="previous_button fas fa-arrow-circle-right"></i>

<div class="footer">
  <%= link_to "Back", :back, class:"btn btn-danger back_button", style:"text-align: center;"%>
  <%= link_to "Add Event", new_event_path(date: @day), class:"btn create_event_button"%>
</div>
