<div class="container">
  <%= simple_form_for @event do |f| %>
    <%= f.hidden_field :end_date, value: @date %>
    <%= f.input :name %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :previous_location %>
    <%= f.input :event_location %>
    <%= f.input :category %>
    <%= f.input :event_location %>
    <%= f.input :travel_type %>
    <%= f.input :description %>
    <%= f.button :submit, class: 'btn btn-primary' %>
  <% end %>
</div>
