<div id="weather">
</div>

<div>
  <div class="show-card <%= @event.event_time_class %>" style="z-index: 10; position; relative;">
    <h4><%= @event.name %>
    <%= link_to event_path(@event), method: :delete do %>
      <i class="fas fa-trash trash-icon"></i>
    <% end %></h4>
    <br>
    <p><%= @event.start_date %></p>
    <p id="location"><%= @event.event_location %></p>
    <p><%= @event.start_time.strftime("%I:%M %P") %> - <%= @event.end_time.strftime("%I:%M %P") %></p>
    <br>
    <p style="font-size: 14px; margin: 0 15%;"><%= @event.description %></p>
    <br>
  </div>

  <div id="map"
    style="width: 100vw; height: 90%; position: absolute; top: 70px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>

<div class="footer">
  <%= link_to "Back", daily_path, class:"btn btn-danger back_button", style:"text-align: center;"%>
  <%= link_to "Edit Event", edit_event_path(@event), class: "btn edit_event_button" %>
</div>
