<div class="simple-calendar daily-simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class:"previous"%>
    <%= link_to t('simple_calendar.next', default: 'Previous'), calendar.url_for_next_view, class:"next" %>
  </div>

  <table class="table daily_table table-striped">
    <thead class="table_daily_head">
      <tr class="daily_days">
        <% date_range.slice(0, 7).each do |day| %>
        <% th = [4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 24, 25, 26, 27, 28, 29, 30] %>
          <th style="position: absolute; left: 68px; font-size: 14px; top: 73px;" class="daily_day"><% if day.day == 1 || day.day == 21 || day.day == 31 %>
            <%= day.day %>st
          <% elsif th.include?(day.day) %>
            <%= day.day %>th
          <% elsif day.day == 2 || day.day == 22 %>
            <%= day.day %>nd
          <% elsif day.day == 3 || day.day == 23 %>
            <%= day.day %>rd
          <% end %>
          
          
          </th>
          <th class="daily_day"><%= t('date.abbr_day_names')[day.wday] %></th>
          <th class="daily_day" style="font-size: 11px; top: 104px;"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <%= content_tag :tr, class: calendar.tr_classes_for(week) do %>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
