<div class="header-monthly">
  <div class="date-monthly-page">
    <h1 class="month-monthly-page"><%= t('date.month_names')[start_date.month].capitalize %></h1>
    <p class="year-monthly-page"><%= start_date.year %></p>
  </div>

  <div class="drop-down-month">
    <%= link_to "Daily View", daily_path, class: "btn btn-secondary daily-view-button" %>
    <%# <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Monthly View
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href=<%= daily_path %>
      <%# <a class="dropdown-item" href=<%= weekly_path %>
  </div>
</div>

<div style="display: flex; justify-content: space-around;">
  <div class="simple-calendar">
    <div class="calendar-heading">
      <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
      <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
      <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
    </div>

    <table class="table table-striped monthly-table">
      <thead>
        <tr>
          <% date_range.slice(0, 7).each do |day| %>
            <th class="table-header"><%= t('date.abbr_day_names')[day.wday] %></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% date_range.each_slice(7) do |week| %>
          <tr class="month-tr">
            <% week.each do |day| %>
              <%= content_tag :td, class: calendar.td_classes_for(day) do %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                  <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
                <% else %>
                  <% passed_block.call day, sorted_events.fetch(day, []) %>
                <% end %>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
